<app-header [title]="'Detalle'" [showHomeButton]="true"></app-header>

<ion-content class="picture-detail-content" [fullscreen]="true">
  @if(picture){
  <div class="detail-container">
    <div class="detail-image-wrapper">
      <img [src]="picture.url" class="detail-image-rectangular" />
    </div>
    

    <div class="detail-info">
      <h2 class="detail-description">{{ picture.description || 'Sin descripción' }}</h2>
      <p class="detail-date">
        <ion-icon name="calendar-outline"></ion-icon>
        {{ picture.createdAt | date:'dd/MM/yyyy' }}
      </p>
    </div>

    <div class="detail-actions">
      <ion-button expand="block" color="danger">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>

      <ion-button expand="block" routerLink="/picture-list">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Ir a galería
      </ion-button>
    </div>
  </div>
}
</ion-content>
