<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input formControlName="description" placeholder="Escribe algo..."></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
      La descripción es requerida.
    </ion-note>

    <ion-button expand="block" (click)="pickImage()">Seleccionar de la Imagen</ion-button>

    <ion-img [src]="previewImage" *ngIf="previewImage" class="preview-img"></ion-img>
    <ion-note color="danger" *ngIf="form.get('image')?.invalid && form.touched">
      Debes capturar o seleccionar una imagen.
    </ion-note>

    <ion-button expand="block"  (click)="onSave()" [disabled]="form.invalid">Guardar Imagen</ion-button>
  </form>
</ion-content>
