<app-header [title]="'Save picture'" [showHomeButton]="false"></app-header>

<ion-content [fullscreen]="true" class="save-picture-content">
  <form [formGroup]="form" class="save-picture-form">

    <div class="form-block">
      <ion-button expand="block" shape="round" class="select-image-btn" (click)="pickImage()">
        <ion-icon name="image-outline" slot="start"></ion-icon>
        Seleccionar imagen
      </ion-button>
      <ion-note class="error-note" *ngIf="form.get('image')?.invalid && form.touched">
        <ion-icon name="alert-circle-outline"></ion-icon>
        Debes capturar o seleccionar una imagen.
      </ion-note>
    </div>

    <div class="preview-wrapper">
      <ng-container *ngIf="previewImage; else emptyFrame">
        <div class="framed-preview">
          <img [src]="previewImage" class="preview-img" />
        </div>
      </ng-container>
      <ng-template #emptyFrame>
        <div class="image-placeholder">Imagen seleccionada aparecerá aquí</div>
      </ng-template>
    </div>

    <div class="form-block">
      <ion-item lines="none" class="custom-input-item">
        <ion-label position="stacked" class="custom-label">Descripción</ion-label>
        <ion-input formControlName="description" placeholder="Escribe una descripción atractiva..."></ion-input>
      </ion-item>

      <ion-note class="error-note" *ngIf="form.get('description')?.touched && form.get('description')?.invalid">
        <ion-icon name="alert-circle-outline"></ion-icon>
        La descripción es requerida.
      </ion-note>      
    </div>

    <div class="form-block">
      <ion-button expand="block" class="save-btn" (click)="onSave()" [disabled]="form.invalid">
        <ion-icon slot="start" name="save-outline"></ion-icon>
        Guardar imagen
      </ion-button>
    </div>

  </form>
</ion-content>
